@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Agrandir-Regular";
    src: url("/fonts/Agrandir-Regular.otf");
  }
@font-face {
    font-family: "Agrandir-GrandLight";
    src: url("/fonts/Agrandir-GrandLight.otf");
  }
@font-face {
    font-family: "Agrandir-GrandHeavy";
    src: url("/fonts/Agrandir-GrandHeavy.otf");
  }
@font-face {
    font-family: "Marteni";
    src: url("/fonts/Marteni.ttf");
  }

  html, body {
    overflow-x: hidden;
  }
  .disabled-button {
    background-color: #ccc; 
    color: #888; 
    border-color: #ccc; 
    cursor: not-allowed;
    pointer-events: none;
  }